ion-item {
    margin-bottom: 10px;
  }
  .custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 2px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}