<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ equipo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCerrar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>

      <ion-item class="custom-input" lines="none">
        <ion-label position="floating">Cantidad (0–10)</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>

      <ion-item class="custom-input" lines="none">
        <ion-label position="floating">Potencia Referencial (0–15000)</ion-label>
        <ion-input type="number" [(ngModel)]="potencia"></ion-input>
      </ion-item>

      <ion-item class="custom-input" lines="none">
        <ion-label position="floating">Horas (0–24)</ion-label>
        <ion-input type="number" [(ngModel)]="horas"></ion-input>
      </ion-item>

      <ion-item class="custom-input" lines="none">
        <ion-label position="floating">Días (0–30)</ion-label>
        <ion-input type="number" [(ngModel)]="dias"></ion-input>
      </ion-item>

      <ion-button expand="block" color="secondary" (click)="onAgregar()">
        Agregar a la Calculadora
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
